<section class="about_section layout_padding-bottom" style="direction: rtl;">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              من <span>نحن</span>
            </h2>
          </div>
          <p>
            تعتبر شركة اسس الأعمال  للخدمات اللوجستية احدي اكبر الشركات الرائدة في مجالي التخليص الجمركي والنقل والشحن البحري والجوي وتسعي دائما الي التطوير والنجاح وبناء شراكات مثمره مع عملائها من خلال تقديمها الافضل من خدمات تخليص ونقل بالسرعة والكفاءة المطلوبه بما تمتلكه من قدرات تشغيليه وخبرات تؤهلها لتقديم ذلك وتميزها عن غيرها من الشركات والتي اكسبتها ثقة ومصداقيه يشهد بها جميع العملاء .
          </p>

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../assets/about-img.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</section>
