  <!-- service section -->

  <section class="service_section layout_padding" style="direction: rtl;">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            <span>خدماتنا</span>
          </h2>
          <p>
            شركتنا تلعب دورًا حيويًا في إدارة سلاسل الإمداد والتوريد من خلال تقديم مجموعة متنوعة من الخدمات التي تهدف إلى ضمان تدفق المنتجات والمواد بشكل سلس من الموردين إلى العملاء النهائيين.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="../assets/services/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  التخليص الجمركي
                </h5>
                <p>
                  خدمات التخليص الجمركي أحد اهم الحلول اللوجستية التي نقدمها وذلك من خلال مجموعة من الخبراء والمتخصصين والذين يمكنهم فسح البضائع الواردة والصادرة خلال 24 ساعة فقط
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="../assets/services/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  النقل
                </h5>
                <ul style="list-style-type: disc; list-style-position: outside;">
                  <li>
                    لدينا اسطول نقل لتنويع الخدمات اللوجستية المقدمة لعملائها حيث تقدم لهم حلول نقل متعدد الوسائط
                  </li>
                  <li>
                    ويدير فريق النقل جميع العمليات من خلال أنظمة تقنية وبرمجية للتخطيط والمتابعة ولضمان الشفافية أمام عملائنا والالتزام بتسليم واستلام الشحنات في المكان المحد والوقت المطلوب
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="../assets/services/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  تخزين وتفريغ الحاويات
                </h5>
                <ul style="list-style-type: disc; list-style-position: outside;">
                  <li>
                    أنشأنا مجموعة من الساحات والمستودعات اللوجستية القريبة من الموانيء والمدن الصناعية والمجهزة بأحدث الأنظمة والتقنيات الحديثة والاجهزة والمعدات المتطورة والتي يتم تشغيلها من خلال أطقم من المتخصصين وفق المعايير العالمية وذلك لتلبية احتياجات عملائنا من التخزين النوعي للبضائع والمنتجات
                  </li>
                  <li>
                    كما نتولى الاشراف على الشحنات وتحميلها وتفريغها ونقلها بالمعدات والآليات المتطورة المعدة لذلك ولنقدم خدمات عالية المستوى في إدارة سلاسل الإمداد
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="../assets/services/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  الشحن الدولي
                </h5>
                <ul style="list-style-type: disc; list-style-position: outside;">
                  <li>
                    الشحن من خلال خبراتنا الطويلة وخدماتنا المتنوعة وما نقدمه من حلول متخصصة في مجال الشحن الجوي والبحري وذلك
                  </li>
                  <li>
                    وذلك من خلال شبكتنا الواسعة مع أكبر الخطوط الملاحية ووكلاء الشحن حول العالم، مما يميزنا ويعطي عملائنا مزايا عديدة ويحقق لهم أسعار تنافسية لذلك فنحن محل ثقة وتقدير عملائنا
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->
