<div class="landing" [ngStyle]="{'background-image': 'url(' + images[index] + ')'}">
  <div class="overlay"></div>
  <div class="text">
    <div class="content" style="direction: rtl;">
      <h2>
        {{ headerDescription[descriptionIndex].header }}
      </h2>
      <p *ngFor="let item of headerDescription[descriptionIndex].description">
        <i class="fa-solid fa-check"></i>  {{ item }}
      </p>
    </div>
  </div>
  <i class="fas fa-angle-left change-background fa-2x" (click)="changeBackground('prev')"></i>
  <i class="fas fa-angle-right change-background fa-2x" (click)="changeBackground('next')"></i>
  <ul class="bullets" style="list-style-type: none;">
    <li *ngFor="let img of images; let i = index" [class.active]="i === index" (click)="changeBackgroundByIndex(i)"></li>
  </ul>
</div>

<div style="margin-top: 85px;">
  <app-about-us></app-about-us>
</div>
<app-serves></app-serves>


<app-contact></app-contact>
